/*Matthew Hurst | CSCE 242*/

/*Structure*/
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(222, 222, 196);
    width: 90%;
    border: 1px solid rgb(111, 158, 161);
    margin: auto;

}

#main-header {
    background-color: beige;
    padding: 5px;

}

#main-content {
    background-color: beige;
    padding: 5px;

}

#main-footer {
    background-color:rgb(222, 138, 138);
    padding: 5px;

}

/*Header/Footer*/
#main-header h1{
    text-align: center;
    color: rgb(111, 158, 161);
    margin-bottom: 10px;
}


#main-footer p{
    text-align: center;
    color: white;
}

/*Navigation*/
#main-nav ul{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0;
    list-style-type: none;
}

#main-nav li{
    padding-left: 0;
    padding: 15px;
    background-color:rgb(222, 138, 138);
    border: 1px solid rgb(111, 158, 161);
}

#main-nav a{
    color: white;
    text-decoration: none;
}

#main-nav a:hover{
    color: rgb(111, 158, 161);
}

/*Top Section*/

#top-section {
    display: flex;
    flex-direction: column;
}

#top-section h2{
    color: rgb(111, 158, 161);
}


/*Gallery*/
#gallery{
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 10px
}




/*CLASS CONTENT*/








/*Area*/
.area {
    background: #cdb4bd;
    position:relative;
}

.arrow {
    font-size: 1.5em;
    color: white;
    position: absolute;
    top:33%;
}
#prev {
    left: 5%;
}
#next{
    right: 5%;
}
#slide-desc {
    position: absolute;
    color:white;
    bottom:10%;
    left:31%;
    background: rgba(255,255,255,0.8);
    padding:5px;
    max-width: 40%;
}

/*Navigation*/
#main-nav ul{
    padding-left: 0;
}

#main-nav li{
    list-style-type: none; /*Removes Bullets*/
    background: #ffc8dd;
}
#square{
    width: 100px;
    height: 100px;
    background:lightsalmon;

    position: absolute; /*Absoulute = Whole Page | Relative = Relative Div Space*/
    top: 50px;
    left: 50px;
}

/*Larger Resolutions*/
@media (min-width:900px){

    #conent {
        justify-content: space-between;
        gap:1em;
        /*flex-wrap: nowrap*/
    }
    .columns {
        display: flex;
    }

    .one {
        flex: 1;
    }
    .two {
        flex: 2;
    }
    .three {
        flex: 3;
    }
    .four {
        flex: 4;
    }

    #main-nav ul{
        flex-direction: row;
    }
  
    #top-section{
        flex-direction: row;
    }
    #gallery {
        flex-direction: row;
    }

    .idea-content{
        flex-direction: row;
        padding: 0;
        align-items: center;
        gap: 20px;
    }

    #main-nav li,
    #top-section h2,
     .titles{
        flex: 1;
    }
    /*End of class content */
}