/*Matthew Hurst | CSCE 242*/
body {
    background: lightgray;
    font-family:'Times New Roman', Times, serif;
}
#externalLinks a{
    text-decoration: underline;
    font-style: italic;
    color:black;
}
#externalLinks a:hover{
    color:white;
}

#content a{
    background-color: darkgray;
    text-decoration: none;
    font-style: italic;
    color:black;
    padding: 4px;
    border-radius: 3px;
}
#content a:hover{
    color:white;
}
