/*Matthew Hurst | CSCE 242*/

/*Structure*/
#main-header {
    background-color: aliceblue;
}
#main-content {
    background-color: beige;
    padding: 5px;
}
#main-footer {
    background-color: tan;
    padding: 5px;
}

/*Navigation*/
#main-nav ul{
    text-align: center;
    padding-left: 0;
    list-style-type: none;
}

#main-nav li{
    padding-left: 0;
    padding: 5px;
    background-color: beige;
}

#main-nav a{
    color: black;
    text-decoration: none;
}

/*Typography*/
body {
    font-family: Arial, Helvetica, sans-serif;
}
#main-header h1{
    text-align: center;
}
#main-footer p{
    text-align: center;
}

/*Larger Resolutions*/
@media (min-width:900px){
    #main-nav ul, 
    .flex-container{
        display: flex;
    }
    #main-nav li, .titles{
        flex: 1;
    }
}